* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

 :root {
    --gradient: linear-gradient(to right, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
    --gradient-1: linear-gradient(45deg, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
    --gradient-2: linear-gradient(45deg, #fff, hsl(210, 12%, 93%));
}

html {
    font-size: 16px;
}

body {
    background-color: hsl(270, 20%, 96%);
    font-family: 'Rubik', sans-serif;
    min-height: 100vh;
    line-height: 1.4;
}

.bg-design-left {
    background: var(--gradient-1);
    height: 31.25rem;
    width: 31.25rem;
    left: -40px;
    position: fixed;
    border-radius: 0 0 300px 300px;
    z-index: -9999;
}

.bg-design-right {
    background: var(--gradient-2);
    height: 500px;
    width: 500px;
    right: -40px;
    bottom: -2rem;
    position: fixed;
    z-index: -9999;
    border-radius: 300px 300px 0 0;
}

.container {
    max-width: 75rem;
    padding: 0 1rem;
    margin: 0 auto;
}

.mobile-phone {
    margin: 2rem 5rem 1rem;
    width: 18.75rem;
    height: 42.5rem;
    display: inline-block;
    background-color: #fff;
    border-radius: 50px;
    position: relative;
    float: left;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .15);
}

.mobile-phone::after {
    content: "";
    position: absolute;
    width: 10.265rem;
    height: 1.875rem;
    background-color: #fff;
    border-radius: 100px;
    top: 4%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mobile-phone-screen {
    position: absolute;
    width: 16.6875rem;
    height: 40.4375rem;
    background-color: hsl(270, 20%, 96%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 40px;
}

.mobile-phone-header {
    background: var(--gradient);
    width: 100%;
    height: 6.875rem;
    border-radius: 40px 40px 20px 20px;
    position: absolute;
    color: #fff;
}

.flex-ctrl {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 8.125rem;
}

.user-pics {
    /* margin-left: 1.5rem; */
    justify-self: space-around;
}

.user-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: -3rem;
}

.user-pics img {
    display: inline-block;
    height: 45px;
    width: auto;
    border-radius: 50%;
    border: 2px solid #fff;
}

.user-info h3 {
    font-weight: 500;
    font-size: 0.8rem;
}

.user-info p {
    font-weight: 300;
    font-size: 0.6rem;
}

.user-info {
    margin-left: .5rem;
}

.padding-left-small {
    padding-left: 1.5rem;
}

.padding-right-small {
    padding-right: 1.5rem;
}

.mt-1 {
    margin-top: .5rem;
}

.message-section {
    color: hsl(276, 55%, 52%);
    font-size: 0.7rem;
    padding: 0 0.7rem;
}

.message {
    background-color: hsl(270, 20%, 90%);
    padding: 0.6rem;
    border-radius: 15px 15px 15px 5px;
    display: inline-block;
}

.message-photo img {
    display: inline-block;
    width: 3.5rem;
    border-radius: 15px;
}

.message-photo {
    margin-left: 4rem;
}

.right {
    color: hsl(271, 15%, 43%);
    background-color: #fff;
    margin-left: 4.5rem;
    border-radius: 15px 15px 5px 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
}

.extend {
    margin-left: 8rem;
}

.pricing {
    padding-top: .8rem;
}

.pricing p {
    display: inline-block;
}

.pricing .input {
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 50%;
    display: inline-block;
    margin-right: .5rem;
}

.pricing {
    background: var(--gradient);
    color: white;
}

.price-tag {
    font-weight: 500;
    margin-left: 1rem;
}

.message-input {
    position: relative;
}

.message-input input {
    width: 95%;
    border: none;
    padding: 1rem .5rem;
    margin-top: 1rem;
    border-radius: 100px;
}

.message-input input::placeholder {
    color: hsl(206, 6%, 79%);
}

.input-field {
    position: relative;
}

.message-btn {
    background-color: hsl(271, 36%, 24%);
    color: #fff;
    border: none;
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
    position: absolute;
    top: 1.5625rem;
    right: 0.1875rem;
}

.message-btn i {
    font-size: .95rem;
}

#header {
    width: 50%;
    float: left;
    margin-top: 20rem;
    font-size: 1.4rem;
}

#header::after,
.mobile-phone::after {
    content: "";
    clear: both;
    display: table;
}

#header h1 {
    color: hsl(271, 36%, 24%);
    margin-bottom: 1rem;
}

#header p {
    color: hsl(270, 7%, 64%);
}

.attribution {
    font-size: .7rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}